{% extends '@PrestaShop/Admin/layout.html.twig' %}

{% block content %}
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-header d-flex justify-content-between align-items-center">
          <h3 class="mb-0">{{ 'Envíos generados'|trans({}, 'Modules.RjMulticarrier.Admin') }}</h3>
          <a href="{{ path('admin_rj_multicarrier_info_packages_index') }}" class="btn btn-outline-primary btn-sm">
            {{ 'Generar nuevos envíos'|trans({}, 'Modules.RjMulticarrier.Admin') }}
          </a>
        </div>
        <div class="card-body">
          {% include '@PrestaShop/Admin/Common/Grid/grid_panel.html.twig' with { grid: shipmentGrid } %}
        </div>
      </div>
    </div>
  </div>
{% endblock %}
